<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
	</configSections>
	<appSettings>
		<add key="SvcUtilPath" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v8.0A\bin\NETFX 4.0 Tools\SvcUtil.exe"/>
	</appSettings>
	<specFlow>
		<unitTestProvider name="MsTest"/>
		<stepAssemblies>
			<stepAssembly assembly="SpecFlow.Assist.Dynamic"/>
		</stepAssemblies>
		<!--<unitTestProvider name="SpecRun" />-->
		<plugins>
			<add name="SpecRun"/>
		</plugins>
	</specFlow>

	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="1000" maxSizeOfMessageToLog="2500000"/>
		</diagnostics>
	</system.serviceModel>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
				<listeners>
					<add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logs\messages.svclog"/>
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logs\traces.svclog"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
